
    <button class="btn btn-outline-primary btn-sm" data-bs-toggle="collapse" data-bs-target="#filter" role="button" aria-expanded="false" aria-controls="filter-header">
        <i class="fs-6 bi bi-funnel me-2"></i>Filtrovať výsledky
    </button>

    <div id="filter" class="collapse">
        <div class="p-3 my-2 bg-light rounded">
        <div class="row g-2">            
            <div class="col-md">
              <div class="form-floating">
                <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
                  <option selected>Vyberte jednu z možností</option>
                  <option value="1">Prvá</option>
                  <option value="2">Druhá</option>
                  <option value="3">Tretia</option>
                </select>
                <label for="floatingSelectGrid" class="text-primary">Nástroj filtrovania</label>
              </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                  <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
                    <option selected>Vyberte jednu z možností</option>
                    <option value="1">Prvá</option>
                    <option value="2">Druhá</option>
                    <option value="3">Tretia</option>
                  </select>
                  <label for="floatingSelectGrid" class="text-primary">Nástroj filtrovania</label>
                </div>
              </div>
              <div class="col-md">
                <div class="form-floating">
                  <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
                    <option selected>Vyberte jednu z možností</option>
                    <option value="1">Prvá</option>
                    <option value="2">Druhá</option>
                    <option value="3">Tretia</option>
                  </select>
                  <label for="floatingSelectGrid" class="text-primary">Nástroj filtrovania</label>
                </div>
              </div>
          </div>
        </div>
    </div>

